In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.colors import LogNorm

from textblob.sentiments import NaiveBayesAnalyzer

import pandas as pd
import sqlite3
from textblob import TextBlob

import seaborn as sns
sns.set(color_codes=True)

# encoding=utf8
import sys
reload(sys)
sys.setdefaultencoding('utf8')

import spacy
nlp = spacy.load('en')

import re

In [82]:
df = pd.read_csv('../pitchfork3.csv')

years = np.arange(1999, 2018)
df_new = df[df['new_album'] == 1]
df_reissue = df[df['new_album'] == 0]

df_spotify = pd.read_csv('spotify_with_rank.csv')

df_merged = df_new.merge(df_spotify, how='left', on=['artist', 'title'])

In [98]:
df = df_merged[df_merged['best_new_music'] == 1]

In [117]:
df.drop_duplicates(inplace=True)

## Top Albums by Popularity on Spotify

In [118]:
df[df['pub_year'] > 1999].sort_values('album_popularity mean', ascending=False)[['artist','title','score','album_popularity mean']].head(10)

,artist,title,score,album_popularity mean
688,kendrick lamar,damn.,9.2,91.0
922,migos,culture,8.1,89.0
1657,chance the rapper,coloring book,9.1,85.0
1354,frank ocean,blonde,9.0,84.0
415,"tyler, the creator",flower boy,8.5,83.0
1945,kanye west,the life of pablo,9.0,80.0
513,lorde,melodrama,8.8,79.0
1981,kevin gates,islah,8.5,78.0
4655,daft punk,random access memories,8.8,77.0
7117,kanye west,my beautiful dark twisted fantasy,10.0,77.0

In [119]:
df[df['pub_year'] > 1999].sort_values('album_popularity mean', ascending=True)[['artist','title','score','album_popularity mean']].head(10)

,artist,title,score,album_popularity mean
13955,loretta lynn,van lear rose,9.3,0.0
10827,dan deacon,spiderman of the rings,8.7,0.0
13523,brian wilson,smile,9.0,0.0
9334,marnie stern,this is it and i am it and you are it and so i...,8.3,0.0
10489,black lips,good bad not evil,8.3,0.0
15110,majesticons,beauty party,8.7,0.0
11031,patrick wolf,the magic position,8.3,0.0
7889,the morning benders,big echo,8.2,2.0
14558,polysics,neu,8.3,2.0
15174,the soft pink truth,do you party?,8.4,2.5

## Top Albums by Danceability

In [120]:
df[df['pub_year'] > 1999].sort_values('danceability mean', ascending=False) \
        [['artist','title','score','danceability mean']].head(10)

                    artist               title  score  danceability mean
922                  migos             culture    8.1           0.827692
15174  the soft pink truth       do you party?    8.4           0.818318
11671            girl talk        night ripper    8.4           0.815187
15110          majesticons        beauty party    8.7           0.815000
2820                  jlin         dark energy    8.5           0.809833
14351         ellen allien          berlinette    8.9           0.798455
13066               m.i.a.              arular    8.6           0.790571
1334            young thug             jeffery    8.5           0.788800
14728        dizzee rascal    boy in da corner    9.4           0.784937
11514      fujiya & miyagi  transparent things    8.3           0.769900

In [121]:
df[df['pub_year'] > 1999].sort_values('danceability mean', ascending=True) \
        [['artist','title','score','danceability mean']].head(10)

,artist,title,score,danceability mean
12260,sunn o))),black one,8.9,0.098257
6261,wolves in the throne room,celestial lineage,8.6,0.110643
9700,crystal antlers,ep,8.5,0.116933
4369,julianna barwick,nepenthe,8.5,0.133840
3856,perfect pussy,say yes to love,8.6,0.137238
9844,titus andronicus,the airing of grievances,8.5,0.151122
11414,tim hecker,harmony in ultraviolet,8.7,0.152180
8616,dinosaur jr.,farm,8.5,0.178650
6912,tim hecker,"ravedeath, 1972",8.6,0.185525
13710,comets on fire,blue cathedral,8.5,0.187100

## Top Albums by Valence

In [122]:
df[df['pub_year'] > 1999].sort_values('valence mean', ascending=False) \
        [['artist','title','score','valence mean']].head(10)

                artist              title  score  valence mean
10650            spoon     ga ga ga ga ga    8.5      0.789900
11303           clipse  hell hath no fury    9.1      0.760583
3445             spoon  they want my soul    8.6      0.755000
13066           m.i.a.             arular    8.6      0.754786
8293       neon indian     psychic chasms    8.6      0.754000
10893          prodigy  return of the mac    8.5      0.745786
10125  vampire weekend    vampire weekend    8.8      0.737545
8098   vampire weekend             contra    8.6      0.735800
11671        girl talk       night ripper    8.4      0.718250
13217  lcd soundsystem    lcd soundsystem    8.2      0.705531

In [123]:
df[df['pub_year'] > 1999].sort_values('valence mean', ascending=True) \
        [['artist','title','score','valence mean']].head(10)

                   artist                 title  score  valence mean
4748      the haxan cloak            excavation    8.7      0.039889
4369     julianna barwick              nepenthe    8.5      0.044640
4574   these new puritans        field of reeds    8.4      0.053122
10140    times new viking            rip it off    8.4      0.056094
15150         supersilent                     6    9.1      0.063250
6898     julianna barwick       the magic place    8.5      0.064533
6912           tim hecker       ravedeath, 1972    8.6      0.067500
11879        scott walker             the drift    9.0      0.070320
2685             prurient  frozen niagara falls    8.5      0.071962
12260           sunn o)))             black one    8.9      0.084657

## Top Albums by Energy

In [124]:
df[df['pub_year'] > 1999].sort_values('energy mean', ascending=False) \
        [['artist','title','score','energy mean']].head(10)

,artist,title,score,energy mean
3579,white lung,deep fantasy,8.6,0.990400
826,power trip,nightmare logic,8.4,0.985250
3811,cloud nothings,here and nowhere else,8.7,0.966750
1691,white lung,paradise,8.4,0.960700
6564,fucked up,david comes to life,8.6,0.959611
11495,mastodon,blood mountain,8.7,0.954667
6477,araabmuzik,electronic dream,8.2,0.952300
14985,the exploding hearts,guitar romantic,8.8,0.947100
9334,marnie stern,this is it and i am it and you are it and so i...,8.3,0.944917
5604,japandroids,celebration rock,8.8,0.933667

In [125]:
df[df['pub_year'] > 1999].sort_values('energy mean', ascending=True) \
        [['artist','title','score','energy mean']].head(10)

                        artist                title  score  energy mean
3193                   grouper                ruins    8.8     0.050471
762                mount eerie  a crow looked at me    9.0     0.105936
12400            vashti bunyan         lookaftering    8.5     0.129064
858             visible cloaks         reassemblage    8.7     0.134420
9098   antony and the johnsons     the crying light    8.6     0.144161
2834            sufjan stevens      carrie & lowell    9.3     0.158164
904                julie byrne   not even happiness    8.3     0.190411
4574        these new puritans       field of reeds    8.4     0.197644
6088                 kate bush    50 words for snow    8.5     0.199614
11879             scott walker            the drift    9.0     0.203160

## Top Albums by Acousticness

In [126]:
df[df['pub_year'] > 1999].sort_values('acousticness mean', ascending=False) \
        [['artist','title','score','acousticness mean']].head(10)

                        artist                title  score  acousticness mean
12400            vashti bunyan         lookaftering    8.5           0.968455
2834            sufjan stevens      carrie & lowell    9.3           0.967727
3193                   grouper                ruins    8.8           0.957625
9098   antony and the johnsons     the crying light    8.6           0.920800
13518               panda bear         young prayer    8.5           0.915222
4369          julianna barwick             nepenthe    8.5           0.907100
904                julie byrne   not even happiness    8.3           0.891222
139               julien baker  turn out the lights    8.6           0.888545
6898          julianna barwick      the magic place    8.5           0.888222
3986              sun kil moon                benji    9.2           0.875273

In [127]:
df[df['pub_year'] > 1999].sort_values('acousticness mean', ascending=True) \
        [['artist','title','score','acousticness mean']].head(10)

,artist,title,score,acousticness mean
6777,the pains of being pure at heart,belong,8.2,0.000021
9353,vivian girls,vivian girls,8.5,0.000053
3579,white lung,deep fantasy,8.6,0.000085
826,power trip,nightmare logic,8.4,0.000152
1691,white lung,paradise,8.4,0.000206
7772,delorean,subiza,8.4,0.000228
14558,polysics,neu,8.3,0.000261
8257,fuck buttons,tarot sport,9.0,0.000370
9844,titus andronicus,the airing of grievances,8.5,0.000892
5604,japandroids,celebration rock,8.8,0.000937

## Top Albums by Instrumentalness

In [128]:
df[df['pub_year'] > 1999].sort_values('instrumentalness mean', ascending=False) \
        [['artist','title','score','instrumentalness mean']].head(10)

,artist,title,score,instrumentalness mean
3193,grouper,ruins,8.8,0.922375
14253,philip jeck,7,8.2,0.906714
4369,julianna barwick,nepenthe,8.5,0.906200
6912,tim hecker,"ravedeath, 1972",8.6,0.895250
4641,dirty beaches,drifters / love is the devil,8.4,0.889500
4587,deafheaven,sunbather,8.9,0.889286
11414,tim hecker,harmony in ultraviolet,8.7,0.888867
9973,fuck buttons,street horrrsing,8.6,0.879667
6310,the field,looping state of mind,8.5,0.875000
3169,clark,clark,8.3,0.869692

In [130]:
df[df['pub_year'] > 1999].sort_values('instrumentalness mean', ascending=True) \
        [['artist','title','score','instrumentalness mean']].head(10)

,artist,title,score,instrumentalness mean
5470,nas,life is good,8.3,0.000000e+00
2751,young thug,barter 6,8.4,0.000000e+00
14985,the exploding hearts,guitar romantic,8.8,3.870000e-07
14141,kanye west,the college dropout,8.2,6.870000e-07
14140,kanye west,the college dropout,8.2,7.475000e-07
1876,kendrick lamar,untitled unmastered.,8.6,9.075000e-07
922,migos,culture,8.1,9.153846e-07
7455,curren$y,pilot talk,8.4,3.386923e-06
4284,drake,nothing was the same,8.6,3.992308e-06
1600,joey purp,iiidrops,8.2,6.209091e-06

## Top Albums by Tempo

In [131]:
df[df['pub_year'] > 1999].sort_values('tempo mean', ascending=False) \
        [['artist','title','score','tempo mean']].head(10)

,artist,title,score,tempo mean
13708,the futureheads,the futureheads,8.3,160.963133
13709,the futureheads,the futureheads,8.3,160.670000
9034,the pains of being pure at heart,the pains of being pure at heart,8.4,159.914100
13182,bloc party,silent alarm,8.9,157.885538
918,priests,nothing feels natural,8.5,157.300800
13181,bloc party,silent alarm,8.9,155.654867
9819,no age,nouns,9.2,155.560417
14985,the exploding hearts,guitar romantic,8.8,151.797800
7762,the radio dept.,clinging to a scheme,8.3,151.684900
8616,dinosaur jr.,farm,8.5,150.458667

In [132]:
df[df['pub_year'] > 1999].sort_values('tempo mean', ascending=True) \
        [['artist','title','score','tempo mean']].head(10)

,artist,title,score,tempo mean
6898,julianna barwick,the magic place,8.5,86.871222
11414,tim hecker,harmony in ultraviolet,8.7,88.720600
11303,clipse,hell hath no fury,9.1,90.778250
12005,ghostface killah,fishscale,9.0,91.920650
3034,aphex twin,computer controlled acoustic instruments pt2 ep,8.3,92.490846
3811,cloud nothings,here and nowhere else,8.7,93.334875
4369,julianna barwick,nepenthe,8.5,93.629000
4748,the haxan cloak,excavation,8.7,94.313444
4246,oneohtrix point never,r plus seven,8.4,94.695200
12260,sunn o))),black one,8.9,95.069429

## Top Albums by Loudness

In [133]:
df[df['pub_year'] > 1999].sort_values('loudness mean', ascending=False) \
        [['artist','title','score','loudness mean']].head(10)

                 artist                      title  score  loudness mean
10140  times new viking                 rip it off    8.4       2.986125
8963             wavves                    wavvves    8.1       1.408000
6477         araabmuzik           electronic dream    8.2      -1.117300
3579         white lung               deep fantasy    8.6      -2.199800
12871    sleater-kinney                  the woods    9.0      -2.275600
14558          polysics                        neu    8.3      -2.324692
12293       love is all  nine times that same song    8.7      -2.536700
11639      the pipettes        we are the pipettes    8.4      -2.697563
3140         ariel pink                    pom pom    8.8      -2.720471
3856      perfect pussy            say yes to love    8.6      -2.801625

In [134]:
df[df['pub_year'] > 1999].sort_values('loudness mean', ascending=True) \
        [['artist','title','score','loudness mean']].head(10)

                artist                title  score  loudness mean
3193           grouper                ruins    8.8     -26.579125
1069         kate bush      before the dawn    8.5     -22.500100
762        mount eerie  a crow looked at me    9.0     -20.882545
2834    sufjan stevens      carrie & lowell    9.3     -20.882091
14858              fog          ether teeth    8.4     -20.499273
6088         kate bush    50 words for snow    8.5     -20.011286
12400    vashti bunyan         lookaftering    8.5     -19.765455
858     visible cloaks         reassemblage    8.7     -18.599800
6916      nicolas jaar  space is only noise    8.4     -18.319615
4748   the haxan cloak           excavation    8.7     -18.163667